@media (max-width: 1234px) {
  header,
  .image-content,
  .nav-buttons {
    width: 850px;
  }
}

@media (max-width: 972px) {
  header {
    width: 750px;
  }
  nav,
  .btn-support,
  .btn-contact {
    display: none;
  }
  .main-image {
    height: calc(100vh - 111px);
  }
  .image-content {
    text-align: center;
    width: 100%;
  }
  .image-content h1 {
    padding-top: 220px;
  }
}

@media (max-width: 788px) {
  header {
    width: 100%;
  }
  header img {
    margin-left: 20px;
    max-width: 58vw;
  }
  .btn-menu {
    margin-right: 20px;
  }
}

@media (max-width: 644px) {
  header img {
    margin-top: 30px;

  }
}

@media (min-width: 769px) {
  .btn-call {
    display: none;
  }
}