/* -------------------------- Main Styles -------------------------- */
body {
    font-family: 'Poppins', sans-serif;
}

/* -------------------------- Header -------------------------- */
header {
    height: 110px;
    width: 1100px;
    margin: auto;
}

/* -------------------------- Logo -------------------------- */
header img {
    margin-top: 20px;
    cursor: pointer;
}

/* -------------------------- Call to Action Buttons -------------------------- */
.cta {
    float: right;
    display: flex;
    margin-top: 26px;
}

.btn-support,
.btn-contact,
.btn-menu,
.btn-call {
    color: white;
    border: transparent;
    height: 55px;
    border-radius: 4px;
    text-transform: uppercase;
}

.btn-support,
.btn-contact {
    width: 130px;
}

.btn-support {
    background: #4183d7;
}

.btn-contact {
    background: #999aa2;
}

.btn-menu {
    width: 55px;
    background: #333645;
}

.btn-call {
    font-size: 30px;
    color: black;
    background: transparent;
    margin-right: 10px
}

.btn-contact,
.btn-menu {
    margin-left: 20px;
}

/* -------------------------- Buttons on Hover -------------------------- */
.btn-support:hover {
    background: #2a6ec6;
    cursor: pointer;
}

.btn-contact:hover {
    background: #84858f;
    cursor: pointer;
}

.btn-menu:hover {
    background: #22242e;
    cursor: pointer;
}

/* -------------------------- Button Active -------------------------- */
.btn-support:active {
    background: #195199;
}

.btn-contact:active {
    background: #65656d;
}

.btn-menu:active {
    background: black;
}

/* -------------------------- Nav -------------------------- */
nav {
    width: 100%;
    height: 100px;
    background-color: #333645;
    text-transform: uppercase;
}

.nav-buttons span {
    font-size: 10px;
}

/* -------------------------- Nav Buttons -------------------------- */
.nav-buttons {
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    color: white;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.25);
}

.nav-btn-style {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-right: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(0,0,0,0.25);
}

/* -------------------------- Nav Buttons on Hover -------------------------- */
.web-design:hover {
    background: #926FB1;
}

.it-support:hover {
    background: #4183D7;
}

.tel-services:hover {
    background: #D64541;
}

.bespoke-software:hover {
    background: #67809F;
}

.digital-marketing:hover {
    background: #2ECC71;
}

.cyber-security:hover {
    background: #F62459;
}

/* -------------------------- Icons -------------------------- */
.nav-buttons .fas {
    font-size: 20px;
    margin: 20px 0 5px;
}

.nav-buttons .fa-code {
    color: #926FB1;
}

.nav-buttons .fa-desktop {
    color: #4183D7;
}

.nav-buttons .fa-phone {
    color: #D64541;
}

.nav-buttons .fa-th {
    color: #67809F;
}

.nav-buttons .fa-signal {
    color: #2ECC71;
}

.nav-buttons .fa-shield-alt {
    color: #F62459;
}

.nav-btn-style:hover .fas {
    color: white;
}

/* -------------------------- Carousel -------------------------- */
.main-image-container {
    border-top: 1px solid rgba(51,54,69,0.5);
}

.main-image {
    background-image: linear-gradient(to left, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%), url('../images/body-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 211px);
}