/* -------------------------- Main Styles -------------------------- */
body {
  font-family: "Poppins", sans-serif;
}

/* -------------------------- Chat Button -------------------------- */
.chat-btn {
  margin: 25px;
  padding: 13px 0;
  width: 60.42px;
  background: #509bd6;
  color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px;
  text-align: center;
  font-size: 30px;
  position: fixed;
  z-index: 100;
}

/* -------------------------- Header -------------------------- */
header {
  height: 110px;
  width: 1200px;
  margin: auto;
}

.sticky-header {
  z-index: 10;
  position: sticky;
  top: 0;
  background: white;
}

/* -------------------------- Logo -------------------------- */
header img {
  margin-top: 20px;
  cursor: pointer;
}

/* -------------------------- Call to Action Buttons -------------------------- */
.cta {
  float: right;
  display: flex;
  margin-top: 26px;
}

.btn-support,
.btn-contact,
.btn-menu,
.btn-call {
  color: white;
  border: transparent;
  height: 100%;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-support,
.btn-contact {
  width: 130px;
  padding: 19px 3px;
}

.btn-support {
  background: #4183d7;
}

.btn-contact {
  background: #999aa2;
}

.btn-menu {
  width: 55px;
  background: #333645;
  padding: 10px 0;
}

.btn-call {
  font-size: 30px;
  color: black;
  background: transparent;
  margin-right: 10px;
  margin-top: 10px;
}

.btn-contact,
.btn-menu {
  margin-left: 20px;
}

.fa-mouse-pointer,
.fa-paper-plane {
  padding-right: 5px;
}

/* -------------------------- Buttons on Hover -------------------------- */
.btn-support:hover {
  background: #2a6ec6;
}

.btn-contact:hover {
  background: #84858f;
}

.btn-menu:hover {
  background: #22242e;
}

/* -------------------------- Button Active -------------------------- */
.btn-support:active {
  background: #195199;
}

.btn-contact:active {
  background: #65656d;
}

.btn-menu:active {
  background: black;
}

/* -------------------------- Nav -------------------------- */
nav {
  width: 100%;
  height: 100px;
  background-color: #333645;
  text-transform: uppercase;
  position: relative;
}

.nav-buttons span {
  font-size: 10px;
}

/* -------------------------- Nav Buttons -------------------------- */
.nav-buttons {
  width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  color: white;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.nav-btn-style {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.nav-buttons a {
  color: white;
  text-decoration: none;
}

/* -------------------------- Nav Buttons on Hover -------------------------- */
.web-design:hover {
  background: #926fb1;
}

.it-support:hover {
  background: #4183d7;
}

.tel-services:hover {
  background: #d64541;
}

.bespoke-software:hover {
  background: #67809f;
}

.digital-marketing:hover {
  background: #2ecc71;
}

.cyber-security:hover {
  background: #f62459;
}

/* -------------------------- Nav Icons -------------------------- */
.nav-buttons .fas {
  font-size: 20px;
  margin: 20px 0 5px;
}

.nav-buttons .fa-code {
  color: #926fb1;
}

.nav-buttons .fa-desktop {
  color: #4183d7;
}

.nav-buttons .fa-phone {
  color: #d64541;
}

.nav-buttons .fa-th {
  color: #67809f;
}

.nav-buttons .fa-signal {
  color: #2ecc71;
}

.nav-buttons .fa-shield-alt {
  color: #f62459;
}

.nav-btn-style:hover .fas {
  color: white;
}

/* -------------------------- Nav Links -------------------------- */
.nav-drop {
  width: 100%;
  display: none;
  bottom: -42px;
  left: 0;
  list-style-type: none;
  position: absolute;
}

.nav-drop li {
  display: inline-block;
  margin: 12px 30px 12px 0;
}

.nav-drop ul {
  width: 1200px;
  margin: auto;
  padding: 0;
  text-align: left;
}

.nav-drop li::after {
  content: '';
  width: 7px;
  height: 2px;
  background: white;
  display: inline-block;
  margin: 0 0 5px 35px;
}

.nav-drop li:last-child:after {
  display: none;
}

/* -------------------------- Nav Links Hover -------------------------- */
.nav-btn-style:hover .nav-drop {
  display: block;
}

.web-design:hover .nav-drop {
  background: #79539a;
}

.it-support:hover .nav-drop {
  background: #286abd;
}

.tel-services:hover .nav-drop {
  background: #bc2c28;
}

.bespoke-software:hover .nav-drop {
  background: #526781;
}

.digital-marketing:hover .nav-drop {
  background: #25a25a;
}

.cyber-security:hover .nav-drop {
  background: #de093f;
}

/* -------------------------- Carousel -------------------------- */
.main-image-container {
  border-top: 1px solid rgba(51, 54, 69, 0.5);
}

.main-image {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%), url("../images/body-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 211px);
}

/* -------------------------- Image Content -------------------------- */
.image-content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  color: white;
  padding-top: 20vh;
}

.image-content h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
}

.image-content p {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 35px;
}

.image-content span {
  text-transform: capitalize;
}

/* -------------------------- Image Content Button -------------------------- */
.wd-button {
  width: 230px;
  height: 43px;
  padding-top: 20px;
  margin: auto;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  color: white;
  background: #926fb1;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-align: center;
}

.wd-button .fas {
  padding-left: 10px;
}

.wd-button:hover {
  background: #7e57a0;
}

/* -------------------------- Block Links -------------------------- */
.block-links {
  margin: 40px 20px;
}

.block {
  width: 100%;
  background: white;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 30px;
  margin: 30px 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #333645;
}

.block h1 {
  margin-top: 20px;
  font-weight: 100;
}

.block p {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  flex-grow: 1;
}

.block p span {
  text-transform: capitalize;
}

.block h1 span {
  text-transform: uppercase;
}

.block hr {
  width: 28px;
  height: 3px;
  background: black;
  border: none;
}

.block:hover h1,
.block:hover p {
  color: white;
}

.block:hover hr {
  background: white;
}

.block:hover {
  border: 1px solid transparent;
}

/* -------------------------- Block Link Icons -------------------------- */
.block-icon {
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.block:hover .block-icon {
  background: white;
}

.block-icon i {
  margin-top: 20px;
}

/* -------------------------- Block Icon Colors -------------------------- */
.wd-icon {
  background: #926fb1;
}

.is-icon {
  background: #4183d7;
}

.ts-icon {
  background: #d64541;
}

.bs-icon {
  background: #67809f;
}

.dm-icon {
  background: #2ecc71;
}

.cs-icon {
  background: #f62459;
}

/* -------------------------- Block Icon Hover -------------------------- */
.block:hover .wd-icon {
  color: #926fb1;
}

.block:hover .is-icon {
  color: #4183d7;
}

.block:hover .ts-icon {
  color: #d64541;
}

.block:hover .bs-icon {
  color: #67809f;
}

.block:hover .dm-icon {
  color: #2ecc71;
}

.block:hover .cs-icon {
  color: #f62459;
}

/* -------------------------- Block Button -------------------------- */
.block-button {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  margin: auto;
  padding-top: 15px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.block:hover .block-button {
  background: white;
}

/* -------------------------- Our Culture -------------------------- */
.our-culture {
  width: 100%;
  color: white;
  padding: 20px 0 50px;
  display: flex;
  background: #333645 url("../images/branded.png") no-repeat center right;
  background-size: auto 100%;
}

.culture-container {
  width: 1200px;
  margin: auto;
}

.culture-content {
  width: 100%;
  max-width: 600px;
  line-height: 30px;
}

.culture-button {
  width: 170px;
  height: 40px;
  color: #333645;
  padding-top: 10px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: white;
  border-radius: 3px;
}

.culture-button:hover {
  background: #ebebeb;
}

.culture-content h1 {
  margin: 30px 0;
  font-size: 35px;
  font-weight: 100;
  text-transform: uppercase;
}

.culture-content p {
  margin: 25px 0;
}

.culture-content span {
  text-transform: capitalize;
}

.culture-content bdi {
  text-transform: uppercase;
}

.culture-button i {
  margin-left: 10px;
}

/* -------------------------- News -------------------------- */
article {
  padding-bottom: 20px;
  box-shadow: 0 3px 35px rgba(0,0,0,0.1);
}

.news-header {
  width: 100%;
  height: 110px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.title-container {
  width: 1200px;
  margin: auto;
}

.title-container h1 {
  width: 77px;
  margin: 0;
  padding: 39.5px 0;
  color: #333645;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 5px solid #333645;
}

.news-container {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.card {
  margin-bottom: 30px;
  position: relative;
}

.card,
.card-image {
  width: 100%;
}

.news-image {
  overflow: hidden;
}

.card-image {
  display: block;
  border-radius: 3px 3px 0 0;
  transition: .2s ease-in-out;
}

.image-tag {
  position: absolute;
  top: 10px;
  right: 0;
  color: white;
  background-color: #926fb1;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px 4px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
}

.image-tag:hover {
  text-decoration: underline;
}

.tag-info,
.tag-info-alt {
  width: 150px;
  padding: 10px 20px;
  right: -65px;
  bottom: 30px;
  background: hsla(230, 15%, 24%, 0.9);
  position: absolute;
  font-weight: 100;
  text-align: center;
  text-transform: capitalize;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.tag-arrow,
.tag-arrow-alt {
  width: 0; 
  height: 0;
  bottom: -5px;
  right: 90px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid hsla(230, 15%, 24%, 0.9);
}

.image-tag:hover .tag-info {
  visibility: visible;
  opacity: 1;
}

.tag-info span {
  text-transform: none;
}

.card-content {
  padding: 30px;
  background: white;
  border-radius: 0 0 3px 3px;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 3px 35px rgba(0,0,0,0.1);
}

.card-content .wd-button {
  width: 130px;
  height: 35px;
  margin: 30px 0;
  padding-top: 14px;
  font-size: 19px;
}

.card-content h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 100;
}

.card-content h3 a {
  color: #926fb1;
  text-decoration: none;
  text-transform: capitalize;
}

.card-content h3 span {
  text-transform: lowercase;
}

.card-content h3 a bdi {
  text-transform: uppercase;
}

.card-content h3 a:hover {
  text-decoration: underline;
}

.card-content p {
  color: grey;
  font-size: 14px;
  line-height: 20px;
}

.card-content p span {
  text-transform: capitalize;
}

.posted-by {
  width: 100%;
  margin-top: 10px;
  padding-top: 25px;
  border-top: 1px solid #ccc;
}

.posted-by img {
  width: auto;
  float: left;
  border-radius: 50%;
}

.posted-by h4,
.posted-by p {
  font-weight: 100;
  margin: 4px 0 0 60px;
}

.posted-by span {
  text-transform: capitalize;
}

/* -------------------------- Clients -------------------------- */
.clients-container {
  width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.client-content {
  position: relative;
  filter: grayscale();
}

.client-content img {
  width: 100%;
}

.client-content:hover {
  filter: none;
}

.client-content:hover .client-info {
  opacity: 1;
  visibility: visible;
}

.client-info {
  width: 230px;
  bottom: 114px;
  left: calc(-130px + 50%);
  background: #333645;
  padding: 20px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 13px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.client-info span {
  text-transform: capitalize;
}

.client-info bdi {
  text-transform: uppercase;
}

.client-info hr {
  width: 25px;
  height: 3px;
  border: none;
  background: white;
  margin: 15px auto;
}

.client-arrow {
  width: 0; 
  height: 0;
  bottom: -35px;
  left: 95px;
  position: absolute;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #343746;
}

/* -------------------------- Footer -------------------------- */
footer {
  width: 100%;
  background: #333645;
  padding: 20px 0;
}

footer h5 {
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 100;
}

footer ul {
  list-style-type: none;
  padding: 0;
  color: white;
  font-size: 13px;
  line-height: 25px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

footer ul span {
  text-transform: uppercase;
}

footer ul bdi {
  text-transform: none;
}

footer ul a {
  color: white;
  text-decoration: none;
}

footer ul a:hover {
  text-decoration: underline;
}

.footer-item-container:nth-child(1)
.footer-item:nth-of-type(1)
ul a {
  text-transform: none;
}

.footer-container {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.footer-item-container {
  width: 100%;
  display: flex;
}

.footer-item {
  width: 25%;
}

.media-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-media {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 15px 0;
  color: white;
  background: rgba(0,0,0,0.25);
  text-align: center;
  font-size: 24px;
}

.facebook:hover {
  background: #3B5998;
}

.twitter:hover {
  background: #00aced;
}

.linked-in:hover {
  background: #0077B5;
}

/* -------------------------- Bottom Images -------------------------- */

.bottom-images {
  width: 1200px;
  margin: 60px auto;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.bottom-images img {
  filter: grayscale();
  transform: scale(1.2)
}

.bottom-images img:hover {
  filter: none;
}

/* -------------------------- Media Queries -------------------------- */
@media (max-width: 1350px) {
  .tag-info-alt {
    right: 0;
  }
  .tag-arrow-alt {
    right: 25px;
  }
}

@media (max-width: 1234px) {
  header,
  .image-content,
  .nav-buttons,
  .culture-container,
  .title-container,
  .nav-drop ul,
  .clients-container,
  .footer-container,
  .bottom-images {
    width: 850px;
  }
  .culture-content {
    max-width: 100%;
  }
  .nav-drop {
    bottom: -38px;
    font-size: 13px;
  }
  .nav-drop li {
    margin-right: 10px;
  }
  .nav-drop li::after {
    margin-left: 10px;
  }
  .tag-info-alt-2 {
    right: 0;
  }
  .tag-arrow-alt-2 {
    right: 25px;
  }
  .clients-container {
    padding: 0;
  }
  .clients-container img {
    transform: scale(.85);
  }
  .footer-item {
    width: 50%;
  }
}

@media (min-width: 1235px) {
  .block-links {
    max-width: 1200px;
    margin: 20px auto;
  }
  .block-links .block:not(.block-alt) {
    max-width: calc(25% - 30px);
  }
  .news-container {
    width: 1200px;
  }
  .news-container .card {
    width: calc(33.33% - 20px);
  }
  .news-container .card-alt {
    display: block;
  }
  .footer-container {
    display: flex;
  }
  .footer-item-container,
  .footer-item {
    width: 50%;
  }
}

@media (max-width: 972px) {
  header,
  .title-container,
  .clients-container,
  .footer-container,
  .bottom-images {
    width: 750px;
  }
  nav,
  .btn-support,
  .btn-contact {
    display: none;
  }
  .main-image {
    height: calc(100vh - 111px);
  }
  .image-content {
    text-align: center;
    width: 100%;
  }
  .image-content {
    padding-top: 30vh;
  }
  .our-culture {
    background: #333645;
  }
  .culture-content {
    max-width: 90%;
    margin: auto;
  }
  .clients-container img {
    transform: scale(.8);
  }
  .bottom-images img {
    transform: scale(1)
  }
}

@media (min-width: 971px) {
  .wd-button {
    margin: 0;
  }
  .news-image:hover .card-image {
    filter: opacity(.8);
    transform: scale(1.1);
  }
}

@media (max-width: 788px) {
  header,
  .clients-container,
  .footer-item {
    width: 100%;
  }
  .footer-container {
    width: calc(100% - 20px)
  }
  header img {
    margin-left: 20px;
    max-width: 58vw;
  }
  .btn-menu {
    margin-right: 20px;
  }
  .title-container {
    width: 90%;
    margin: auto;
  }
  .tag-info-small {
    right: 0;
  }
  .tag-arrow-small {
    right: 25px;
  }
  .clients-container,
  .bottom-images {
    display: none;
  }
  .footer-container {
    padding: 20px 10px 0;
  }
  .footer-item-container {
    display: block;
  }
}

@media (min-width: 768px) {
  .btn-call,
  .card-alt {
    display: none;
  }
  .block-links,
  .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .block {
    width: calc(50% - 20px);
    margin: 20px 0;
  }
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 644px) {
  header img {
    margin-top: 30px;
  }
}